<div class="list-group">
    <a href="/admin/dashboard" class="list-group-item list-group-item-action <%= title === 'Admin Dashboard' ? 'active' : '' %>">
        Dashboard Overview
    </a>
    <a href="/admin/items" class="list-group-item list-group-item-action <%= title === 'Manage Items' ? 'active' : '' %>">
        Manage Items
    </a>
    <a href="/admin/users" class="list-group-item list-group-item-action <%= title === 'Manage Users' ? 'active' : '' %>">
        Manage Users
    </a>
</div>
